/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_design_styles function */
.edgtf-preload-background { background-image: url(http://grayson.edge-themes.com/wp-content/themes/grayson/assets/img/preload_pattern.png) !important;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_content_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner { padding-top: 0px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_content_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner { padding-top: 40px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_h1_styles function */
h1 { margin-top: 0px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles.php grayson_edge_h2_styles function */
h2 { margin-top: 0px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-webkit-input-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-moz-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-moz-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-ms-input-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #666666;font-size: 12px;line-height: 30px;font-family: Roboto;font-style: normal;font-weight: 400;text-transform: none;letter-spacing: 1px;background-color: rgba(255, 255, 255, 1);border-color: rgba(229, 229, 229, 1);border-width: 1px;border-radius: 0px;padding-top: 4px;padding-bottom: 4px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-webkit-input-placeholder, .cf7_custom_style_1 textarea:focus::-webkit-input-placeholder { color: #000000;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-moz-placeholder, .cf7_custom_style_1 textarea:focus:-moz-placeholder { color: #000000;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-moz-placeholder, .cf7_custom_style_1 textarea:focus::-moz-placeholder { color: #000000;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-ms-input-placeholder, .cf7_custom_style_1 textarea:focus:-ms-input-placeholder { color: #000000;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #000000;background-color: rgba(255, 255, 255, 1);border-color: rgba(102, 102, 102, 1);}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;font-size: 10px;height: 40px;line-height: 40px;font-family: Roboto;font-style: normal;font-weight: 400;text-transform: uppercase;letter-spacing: 2px;background-color: rgba(167, 218, 235, 1);border-color: rgba(167, 218, 235, 1);padding-left: 24px;padding-right: 24px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff;background-color: rgba(65, 162, 142, 1);border-color: rgba(65, 162, 142, 1);}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_3 function */
.cf7_custom_style_3 ::-webkit-input-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_3 function */
.cf7_custom_style_3 :-moz-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_3 function */
.cf7_custom_style_3 ::-moz-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_3 function */
.cf7_custom_style_3 :-ms-input-placeholder { color: #666666;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_text_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { color: #666666;font-size: 12px;line-height: 16px;font-family: Roboto;font-style: normal;font-weight: 400;text-transform: none;letter-spacing: 1px;padding-top: 12px;padding-bottom: 12px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/contactform7/custom-styles/contact-form.php grayson_edge_contact_form7_button_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;font-size: 10px;height: 40px;line-height: 40px;font-family: Roboto;font-style: normal;font-weight: 400;text-transform: uppercase;letter-spacing: 2px;background-color: rgba(167, 218, 235, 1);border-width: 0px;border-radius: 0px;padding-left: 24px;padding-right: 24px;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/error404/custom-styles/custom-styles.php grayson_edge_404_footer_top_general_styles function */
.edgtf-404-page .edgtf-content { background-image: url(http://grayson.edge-themes.com/wp-content/uploads/2016/07/home-5-slider-image-2.jpg);background-position: center 0;background-size: cover;background-repeat: no-repeat;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/error404/custom-styles/custom-styles.php grayson_edge_404_title_styles function */
.edgtf-404-page .edgtf-page-not-found h1 { color: #ffffff;}

/* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/framework/modules/error404/custom-styles/custom-styles.php grayson_edge_404_subtitle_styles function */
.edgtf-404-page .edgtf-page-not-found h3 { color: #ffffff;}

@media only screen and (min-width: 768px) {
    footer .edgtf-column2{
        margin-left:50% !important;
    }
}
