@media only screen and (min-width:1024px){
    .footercolumns{
        border: 2px solid white;
        padding: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    /* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles-responsive.php grayson_edge_content_responsive_styles function */
    .edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner,
    .edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner {
        margin:0 auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles-responsive.php grayson_edge_h1_responsive_styles3 function */
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles-responsive.php grayson_edge_h1_responsive_styles function */
    h1 {
        font-size: 40px;
        line-height: 50px;
        
    }
    
    .edgtf-column2{
            margin-left:0 !important;
    }
    
    .edgtf-login-register-content .edgtf-login-content-inner, .edgtf-login-register-content .edgtf-register-content-inner {
        border: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    /* generated in /www/sites/grayson.edge-themes.com/files/html/wp-content/themes/grayson/assets/custom-styles/general-custom-styles-responsive.php grayson_edge_h1_responsive_styles2 function */
    h1 {
        font-size: 35px;
        line-height: 45px;
    }
    
    .edgtf-column2{
            margin-left:0 !important;
    }
    
    .edgtf-login-register-content .edgtf-login-content-inner, .edgtf-login-register-content .edgtf-register-content-inner {
        border: 0;
        padding: 0;
    }
}


